@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Merriweather:wght@900&family=Oswald&family=Rowdies:wght@700&display=swap');
*{
    font-family: 'Oswald', sans-serif;
    margin : 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}