@import "colors";
footer{
    height: 90px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 1.5rem;
    justify-content: center;
    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        >a{
            font:900 1rem $text2;
            color:$third;
            &:hover{
                color:$dark;
            }
        }
    }
}